.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .row {
    margin-top: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .form-control {
    text-align: center;
    border:none;
    box-shadow: 5px 10px 15px rgba(126, 125, 125, 0.11);
    margin: 5px;
  }
  .titles {
    color: cadetblue;
  }
  h5 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }
  #card1{
    background-color:#e0e0e0;
    height: 600px;
    shape-outside:inherit;
    text-align: center;
  }
  h2, h6 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    color: white;
    background-color:lightsteelblue;
    text-align: center;
    align-self: center;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease 0s;
    cursor: pointer;
    outline: none
  }