.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: cadetblue;
  }
  button {
    border: none;
    outline: 0;
    display: inline-block;
    color: white;
    background-color:lightsteelblue;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    margin: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease 0s;
    cursor: pointer;
    outline: none
  }
.row {
    margin-top: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

h5, h6 {
    font-style: italic;
    color: white;
}
 