<div>
    <div class="card h-100">
        <button class="btn" (click)='edit()'><i class="fa fa-edit"></i>Edit</button>
        <button class="btn" (click)='delete()'><i class="fa fa-trash"> </i>Delete</button>
        <div class="card-body">
            <div class="account-settings">
                <div class="user-profile">
                    <h5 style="font-style: italic;">{{Profile.fullName}}</h5>
                    <h6>{{Profile.email}}</h6>
                    <h6>{{Profile.speciality}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>