<div class="row">
    <div class="col"> </div>
    <div class="col">
        <div id="card1" class="card" class="shadow-lg p-3 mb-5 bg-light rounded">
            <h4>Add Measurement</h4>
            <form [formGroup]="form"  (ngSubmit)="onClickSubmit()">
                <div class="form-group" id="formg" style="margin: auto;">
                    <label class="bcolor">Blood Glucose Level</label>
                    <input id="formg" type="number" class="form-control" placeholder="mg/dL" formControlName="glucoseLevel" />
                </div>
                <div class="form-group">
                    <label class="bcolor">Carbohydrates</label>
                    <input id="formg" type="number" class="form-control" placeholder="grams" formControlName="carbIntake" />
                </div>
                <div class="form-group">
                    <label class="bcolor">Measurement date</label>
                    <input id="formg" type="date" class="form-control" placeholder="Date of measurement" formControlName="date" />
                </div>
                <button type="submit" class="btn btn-outline-secondary" value="Submit"> Submit </button>

            </form>
        </div>
    </div>
    <div class="col"></div>
</div>



<router-outlet></router-outlet>