.center {
    top: 50%;
    left: 50%;
    margin: 70px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 10px;
  }
  button {
      margin-bottom: 10px;
  }
  .bcolor {
      color:cadetblue;
      font: bold;
  }