nav a.active{
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.mo
{
  color:darkcyan;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin: 5px;
  font-weight: bold;
}
.navbar-brand {
  color: cadetblue;
}
