nav a.active{
  color: rgb(5, 5, 5);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.mo
{
  font-size: 17px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
  color:darkcyan;
  padding: 10px 20px;
  text-align:center;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin: 5px;
  font-weight: bold;
}
.navbar-brand {
  color: cadetblue;
}
button {
  font-size: 17px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
  color:darkcyan;
  padding: 10px 20px;
  text-align:center;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin: 5px;
  font-weight: bold;
  
}
