<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
  <div class="row-3">
    <div class="wrapper">
      <h1>Enter Consultation</h1>
      <textarea #theTextarea id="the-textarea" maxlength="300" placeholder="Start Typing..."
        autofocus></textarea>
      <div id="the-count">
        <span id="current">0</span>
        <span id="maximum">/ 300</span>
      </div>
    </div>
  </div>
  <div id="fab-button" class="row-3">
    <div class="example-button-container">
      <button (click)='addNewConsultation(theTextarea.value)' style="background-color: #00e0e8d5;" mat-fab background-color="#00e4e8"
        aria-label="Example icon button with a delete icon">
        <mat-icon>done_outline</mat-icon>
      </button>
    </div>
  </div>
</div>