<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="row">
        <div class="col-3">
            <h4 class="titledoc">All Doctors</h4>
        </div>
        <div class="col-3">
            <h4 class="titledoc">All Patients</h4>
        </div>
        <div class="col-3">
            <h4 class="titledoc">Inactive Doctors</h4>
        </div>
        <div class="col-3">
            <h4 class="titledoc">Inactive Patients</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="app-listofinactivedoctors">
                <app-listofinactivedoctors></app-listofinactivedoctors>
            </div>
        </div>
        <div class="col-3">
            <div class="app-listofinactivedoctors">
                <app-listofinactivedoctors></app-listofinactivedoctors>
            </div>
        </div>
        <div class="col-3">
            <div class="app-listofinactivedoctors">
                <app-listofinactivedoctors></app-listofinactivedoctors>
            </div>
        </div>
        <div class="col-3">
            <div class="app-listofinactivedoctors">
                <app-listofinactivepatients></app-listofinactivepatients>
            </div>
        </div>
    </div>
    
</div>
<router-outlet></router-outlet>