<div class="info-form" class="center">
    <form class="form-inline justify-content-center" [formGroup]="form"  (ngSubmit)="onClickSubmit()">
      <div class="grid">
        <h5 class="titles"> Edit your information:</h5>
        <div class="row">
          FullName: <input type="text" class="form-control" id="fullName" placeholder="Enter Fullname" #fullName
          formControlName="fullName">
        </div>
        <div class="row">
          Email: <input type="text" class="form-control" id="email" placeholder="Enter email" #email
          formControlName="email">
        </div>
        <div class="row">
          Password: <input type="text" class="form-control" id="password" placeholder="Enter password" #password
          formControlName="password">
        </div>
        <div class="row">
          Speciality: <input type="text" class="form-control" id="speciality" placeholder="Enter speciality" #speciality
          formControlName="speciality">
        </div>
        <div class="row">
          <div class="col text-center">
            <button type="submit" class="btn btn-outline-secondary">Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>