.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: cadetblue;
  }
button {
  color: white;
  background-color:lightsteelblue;
  text-align: center;
  font-size: 18px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease 0s;
  }
.row {
    margin-top: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
button:hover, a:hover {
    opacity: 0.7;
  }
  
h5, h6, h7 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}

.titledoc {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

#listsContainer1, #listsContainer2{
  height: 250px;
  overflow:hidden;
  padding: 5px;
}
#listsContainer1:hover,  #listsContainer2:hover {
    overflow-y:auto;
}
#labelinfo1, #labelinfo2 {
    color: cadetblue;
  }

  #card1{
    background-color:#e0e0e0;
    height: 600px;
    shape-outside:inherit;
  }

  