<form [formGroup]="form">
  <div class="row">
    <div class="col">
      <label>From</label>
      <input type="date" class="form-control" formControlName="from1">
    </div>
    <div class="col">
      <label>To</label>
      <input type="date" class="form-control" formControlName="to">
    </div>
  </div>
</form>

<div class="row">
  <div class="col"><button id="calc1" type="button" class="btn" (click)="getAvgGlucose()"><i
        class="fa fa-calculator fa-lg"></i>Calculate Average Glucose Level</button></div>
  <div class="col"><button id="calc2" type="button" class="btn" (click)="getAvgCarb()"><i
        class="fa fa-calculator fa-lg"></i>Calculate Average Carbs Intake</button></div>
</div>
<div class="row">
  <div id="avgGl" class="col">
    Avg Glucose Level:
    <div *ngIf="getavgglucose">
      {{this.avggllv}}
    </div>
  </div>

  <div id="avgCarb" class="col">
    Avg Carbs Intake:
    <div *ngIf="getavgcarb">
      {{this.avgcarb}}
    </div>
  </div>

</div>

<form [formGroup]="form1">
  <div class="row">
    <div class="col">
      <label>From</label>
      <input type="date" class="form-control" formControlName="from1">
    </div>
    <div class="col">
      <label>To</label>
      <input type="date" class="form-control" formControlName="to">
    </div>
  </div>

<div class="row">
  <button type="button" class="list-group-item list-group-item-action " (click)="getmyConsultation()">
    My Consultations
  </button>
</div>
<div id="listsContainer1">
  <div class="list-group" *ngFor="let con of getconsult">
    <ul>
      <div class="col"><button type="button" class="list-group-item list-group-item-action" id="list1">{{con.description}}</button></div>
    </ul>
  </div>
</div>
</form>