<form [formGroup]="form">
  <div class="row">
    <div class="col">

      <label>From</label>
      <input type="date" class="form-control" formControlName="from1">
    </div>
    <div class="col">
      <label>To</label>
      <input type="date" class="form-control" formControlName="to">
    </div>
  </div>
</form>

<div class="row">
  <div class="col"><button id="calc1" type="button" class="btn" (click)="getAvgGlucose()"><i
        class="fa fa-calculator"></i>Calculate Average Glucose Level</button></div>
  <div class="col"><button id="calc2" type="button" class="btn" (click)="getAvgCarb()"><i
        class="fa fa-calculator"></i>Calculate Average Carbs Intake</button></div>
</div>
<div class="row">
  <div class="col" *ngIf="getavgglucose">
    Calculate Average Glucose Level: {{avggllv}}
  </div>

  <div class="col" *ngIf="getavgcarb">
    Calculate Average Carbs Intake: {{avggllv}}
  </div>

</div>