<div class="container">
  <div class="shadows"><span>S</span><span>a</span><span>c</span><span>c</span><span>h</span><span>o</span><span>n</span></div>
</div>
<h5 >If you're living with diabetes, prioritizing your health has never been more important</h5>
<p > People with an underlying health condition, including diabetes (whether it's type 1 or type 2),
  are at a higher risk for complications from COVID-19!</p>
<p>Get consultation from a doctor now.</p>
<footer class="bg-light text-center text-lg-start" >
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">Sacchon.com</a>
  </div>
</footer>