<div class="info-form" class="center">
  <form class="form-inline justify-content-center" [formGroup]="form" (ngSubmit)="logIn()">
    <div class="grid">
      <h5 class="titles"> Enter your credentials:</h5>
      <div class="row">
        <div class="form-group mr-2">
        <input type="text" class="form-control" id="email" placeholder="Enter email" #email formControlName="email">
      </div></div>
      <div class="row">
        <div class="form-group mr-2">
        <input type="text" class="form-control" id="password" placeholder="Enter password" #password formControlName="password">
      </div></div>
      <div class="row">
        <div class="col text-center">
          <button type="button" class="btn btn-outline-secondary">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>

<router-outlet></router-outlet>