<div class="info-form" class="center">
  <form class="form-inline justify-content-center">
    <div class="grid">
      <h5 class="titles"> Enter your credentials:</h5>
      <div class="row">
        <input type="text" class="form-control" id="username" placeholder="Enter email" #user>
      </div>
      <div class="row">
        <input type="text" class="form-control" id="pass" placeholder="Enter password" #pass>
      </div>
      <div class="row">
        <div class="col text-center">
          <button type="button" class="btn btn-outline-secondary" (click)="searchUser()">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>

<router-outlet></router-outlet>