.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
h5 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}
.row {
  margin-top: 40px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.form-control {
  text-align: center;
  width: 300px;
}
.titles {
  color: cadetblue;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  color: white;
  background-color:lightsteelblue;
  text-align: center;
  align-self: center;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease 0s;
  cursor: pointer;
  outline: none
}