<div class="outerdiv">
    <div class="row">
        <div class="col">
            <ng-month-picker></ng-month-picker>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    Consultation text.
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-outline-secondary" (click)="addConsultation()">Edit last month's Consultation</button>
    </div>
</div>
<router-outlet> </router-outlet>