.center {
    top: 50%;
    left: 50%;
    margin: 70px;
}
.card {
    box-shadow: 5px 10px 15px rgba(216, 216, 216, 0.11);
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    font-size: medium;

  }
  #card1{
    margin-top: 40px;
    background-color:#e0e0e0;
    height: 400px;
    shape-outside:inherit;
    text-align: center;
  }
  button {
    border: none;
    outline: 0;
    display: inline-block;
    color: white;
    background-color:lightsteelblue;
    text-align: center;
    align-self: center;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease 0s;
    cursor: pointer;
    outline: none
  }
  .bcolor {
      color:cadetblue;
      font: bold;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  h4 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  #formg {
      text-align: center;
  }
  .form-control {
    text-align: center;
    border:none;
    box-shadow: 5px 10px 15px rgba(126, 125, 125, 0.11);
  }