.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.row {
  margin-top: 20px;
}
.form-control {
  text-align: center;
  width: 300px;
}
.titles {
  color: cadetblue;
}

button {
  color: cadetblue;
  border-color: cadetblue;
  text-align: center;
  align-self: center;
}