
  <div>
    <div class="card h-100">
        <button class="btn"><i class="fa fa-edit"></i>Edit</button>
        <button class="btn"><i class="fa fa-trash"> </i>Delete</button>
        <div class="card-body">
            <div class="account-settings">
                <div class="user-profile">
                    <h5 style="font-style: italic;">{{Profile.Fullname}}</h5>
                    <h6>{{Profile.Email}}</h6>
                    <h6>{{Profile.Height}} </h6>
                    <h6>{{Profile.Weight}}</h6>
                    <h6>{{Profile.DateOfBirth}} </h6>
                    <h6>{{Profile.Gender}} </h6>
                </div>
            </div>
        </div>
    </div>
</div>