.center {
    margin: 0;
    position: absolute;
    top: 30%;
    right: 70%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .topcenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.row {
  margin-top: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.col {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  button {
    border: none;
    color: white;
    background-color:lightsteelblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease 0s;
  }
  #calc1, #calc2{
    margin: 0 auto;
  }
  #addBtn, #measurementbtn {
    margin:0 auto;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  
h5, h6, h7 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}
#labelinfo1, #labelinfo2 {
  color: cadetblue;
  text-align: center;
  box-shadow: 5px 10px 15px rgba(216, 216, 216, 0.11);
  font-size: medium;
}

#card1{
  background-color:#e0e0e0;
  height: 500px;
  shape-outside:inherit;
  text-align: center;
}
.form-control {
  text-align: center;
  border:none;
  box-shadow: 5px 10px 15px rgba(9, 85, 75, 0.11);
}