button {
    border: none;
    outline: 0;
    display: inline-block;
    color: white;
    background-color:lightsteelblue;
    
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease 0s;
    cursor: pointer;
    outline: none
  }

div{
    margin: 15px;
}

#yesbtndoctor{
    margin-right: 0px auto;
}