<div class="container" style="margin-top: 3%;">
    <div id="card1" class="card" class="shadow-lg p-3 mb-5 bg-light rounded">
        <div class="col">
            <h3>
                Are you sure you want to delete your account?
            </h3>
        </div>
        <div class="row">
            <div class="col">
                <button id="yesbtn" type="button" class="btn btn-outline-secondary"
                    (click)="deleteAccount()">Yes</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-outline-secondary" (click)="gobacktopatient()">No</button>
            </div>
        </div>
    </div>
</div>