.row {
    margin-top: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: cadetblue;
  } 

#consultbtn {
  text-align: center;
}
 button {
  text-align: center;
  border: none;
  outline: 0;
  display: inline-block;
  color: white;
  background-color:cadetblue;
  font-size: 18px;
  margin: 15px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease 0s;
  cursor: pointer;
 }

 #card1{
  background-color:#e0e0e0;
  height: 630px;
  shape-outside:inherit;
  text-align: center;
}
h2 {
  color: black;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.form-control {
  text-align: center;
  border:none;
  box-shadow: 5px 10px 15px rgba(126, 125, 125, 0.11);
}