<div class="container" style="margin-top: 40px;">
  <div id="card1" class="card" class="shadow-lg p-3 mb-5 bg-light rounded">
    <div class="info-form" class="center">
      <div class="row">
        <form [formGroup]="form" (ngSubmit)="onClickSubmit()">
          <h5 class="titles"> Enter your information</h5>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" id="Fullname" placeholder="Enter Fullname" #Fullname
                formControlName="Fullname">
            </div>
            <div class="col">
              <input type="text" class="form-control" id="Email" placeholder="Enter email" #Email
                formControlName="Email">
            </div>
            <div class="col">
              <input type="text" class="form-control" id="Password" placeholder="Enter password" #Password
                formControlName="Password">
            </div>
            <div class="col">
              <select class="form-control" id="Gender" placeholder="Enter gender" #Gender formControlName="Gender">
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="Pdate">Date of Birth</label>
              <input type="date" class="form-control" id="DateOfBirth" placeholder="Enter dateofbirth" #DateOfBirth
                formControlName="DateOfBirth">
            </div>
            <div class="col">
              <input type="number" class="form-control" id="Weight" placeholder="Enter weight (Kg)" #Weight
                formControlName="Weight">
            </div>
            <div class="col">
              <input type="number" class="form-control" id="Height" placeholder="Enter height (cm)" #Height
                formControlName="Height">
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <button type="button" class="btn btn-outline-secondary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>