<div class="container" style="margin-top: 8%;">
  <div id="card1" class="card" class="shadow-lg p-3 mb-5 bg-light rounded">
    <div class="info-form" class="center">
      <div class="row">
        <form [formGroup]="form" (ngSubmit)="onClickSubmit()">
          <h5 class="titles"> Enter your information</h5>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" id="fullName" placeholder="Enter Fullname" #fullName
                formControlName="fullName">
                <div class="text-danger" *ngIf="form.get('fullName').hasError('required')">Your Full Name is
              Required</div>
            </div>
            
            <div class="col">
              <input type="text" class="form-control" id="email" placeholder="Enter email" #email
                formControlName="email">
                <div class="text-danger" *ngIf="form.get('email').hasError('required')">Email Required</div>
          <div class="text-danger" *ngIf="form.get('email').hasError('email')">This isn't email</div>

            </div>
            
            <div class="col">
              <input type="password" class="form-control" id="password" placeholder="Enter password" #password
                formControlName="password">
                <div class="text-danger" *ngIf="form.get('password').hasError('required')">Password
              Required</div>
            </div>
            
            <div class="col">
              <select class="form-control" id="gender" placeholder="Enter gender" #gender formControlName="gender">
                <option value=false>Male</option>
                <option value=true>Female</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="Pdate">Date of Birth</label>
              <input type="date" class="form-control" id="dateOfBirth" placeholder="Enter dateofbirth" #dateOfBirth
                formControlName="dateOfBirth">
            </div>
            <div class="col">
              <input type="number" class="form-control" id="weight" placeholder="Enter weight (Kg)" #weight
                formControlName="weight">
            </div>
            <div class="col">
              <input type="number" class="form-control" id="height" placeholder="Enter height (cm)" #height
                formControlName="height">
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <button [disabled]='form.invalid' type="submit" class="btn btn-outline-secondary">Submit</button>
            </div>
          </div>

        </form>
      </div>
    </div>