button {
    border: none;
    outline: 0;
    display: inline-block;
    color: white;
    background-color:lightsteelblue;
    
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease 0s;
    cursor: pointer;
    outline: none
  }

div{
    margin: 15px;
}
#yesbtn{
    margin-right: 0px auto;
}
#card1{
    background-color:#e0e0e0;
    height: 200px;
    shape-outside:inherit;
    text-align: center;
  }
  h2, h3, h6 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }