#listsContainer1{
  height: 250px;
  overflow:hidden;
  padding: 5px;
}
#listsContainer1:hover {
  overflow-y:auto;
}
#labelinfo1, #labelinfo2 {
  color: cadetblue;
}
button {
  color: white;
  background-color:lightsteelblue;
  text-align: center;
  font-size: 18px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease 0s;
}
.row {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button:hover, a:hover {
  opacity: 0.7;
}